.navbar{
    background-color: rgb(199, 170, 9)!important;
    .navbar-brand{
        
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;

    }
    .home{
margin-left: 30px;
font-family:  Verdana, sans-serif;
font-size: 24px;
    }
    .nav-link{
        i{
            margin-left: 30px;
            font-size: 25px;
            color: rgb(58, 80, 88) !important;
            
        }
        sup{
            font-size: 22px
        }
    
    }
}